# Environment variables
.env

# Virtual environments
venvs/
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Jupyter Notebooks
.ipynb_checkpoints

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# System files
.DS_Store
Thumbs.db
